
#section {
    width: 35%;
    margin-left: 35%;
    margin-top: 10%;
}

.panel-group {

    width: 70%;
}

#reservation-head {
    text-align: center;
}

.container {
    margin-top: 10%;

}

.container-fluid1 {
    margin-left: 40%;
    margin-top: 10%;
    width: 70%;
}

#footer{
    text-align: center;
    color: whitesmoke;
}

.navbar-brand{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.item img{
    margin: auto;
    display: block;
  min-height: 400px;  min-width: 500px;
    max-height: 400px; max-width: 500px;
}

#dummy{
    text-align: center;
    margin-top:10%;
}